#root {
  overflow: hidden;
  position: relative;
}

.page {
  width: 100%;
}

/* Safari対策 */
input[type="date"] {
  -webkit-appearance: none;
  appearance: none;
  text-align: left;
  box-sizing: border-box;
}

input[type="date"]::-webkit-date-and-time-value {
  text-align: left;
}
